:root[color-theme='light'] {
  --background: white;
  --fontColor: black;
}

:root[color-theme='dark'] {
  --background: black;
  --fontColor: white;
}

:root[under-overlay-fold='fold'] {
  --under-overlay-height: 0;
  --display-under-overlay: none;
}

:root[under-overlay-fold='unfold'] {
  --under-overlay-height: 1fr;
  --display-under-overlay: block;
}

* {
  background-color: var(--background);
  color: var(--fontColor);
}

.App {
  text-align: center;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Logo {
  font-size: calc(20px + 2vmin);
  font-weight: bold;
  color: black;
}

.Red {
  color: #EA4335;
}

.Blue {
  color: #4285F4;
}

.Yellow {
  color: #FBBC05;
}

.Green {
  color: #34A853;
}

h2 {
  font-size: calc(10px + 1vmin);
  display: inline;
  margin: 10px;
  margin-left: 6px;
  margin-right: 6px;
}

div {
  margin: 8px;
}

button {
  margin: 5px;
}

input[type="text"] {
  all: unset;
  width: calc(100px + 50vmin);
  text-align: left;
  padding: 4px;
  padding-top: unset;
  border-bottom: 1px solid gray;
  transition: 0.1s linear;
}

input[type="text"]:focus {
  border-bottom: 3px solid red;
}

button {
  all: unset;
  font-size: calc(10px + 1vmin);
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(145, 204, 255);
  color: black;
  border-radius: 15px;
  transition: 0.1s linear;
}

button:hover {
  background-color: rgb(206, 218, 228);
  cursor: pointer;
}

.Category {
  margin-bottom: 3px;
}

.Primary {
  margin-top: 3px;
}

.Overlay {
  background-color: transparent;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  pointer-events: none;
}

.Loading {
  background-color: var(--background);
  color: var(--fontColor);
  text-align: center;
  pointer-events: visible;
}

.OverlayContent {
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.OverlayContent > * {
  margin: 0;
}

.NullSpace {
  background-color: transparent;
}

.OverlayUpper, .OverlayUnder {
  background-color: yellowgreen;
}

.OverlayUpper > *, .OverlayUnder > * {
  pointer-events: visible;
}

.OverlayUpper > button {
  margin: 5px;
}

.OverlayTitle {
  margin: 5px;
  background-color: inherit;
  color: black;
}

.OverlayUpper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.OverlayUnder {
  display: var(--display-under-overlay);
}

.RecentQueries {
  background-color: inherit;
  text-align: left;
}